body {
    background-color: hsl(257, 40%, 49%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    color: white;
}

.parent {
    position: relative;
    top: 0;
    left: 0;
}

.image1 {
    position: relative;
    top: 0;
    left: 0;
    bottom: 0;
}

.image2 {
    position: absolute;
    top: 30px;
    left: 60px;
}

.image3 {
    position: absolute;
    top: 150px;
    left: 60px;
}

.header-text {
    color: white;
    position: absolute;
    top: 205px;
    padding-left: 900px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.header-text-two {
    color: white;
    position: absolute;
    top: 255px;
    padding-left: 900px;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

.paragraph-text {
    color: white;
    position: absolute;
    top: 320px;
    padding-left: 900px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
}

.paragraph-text-two {
    color: white;
    position: absolute;
    top: 345px;
    padding-left: 900px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
}

.paragraph-text-three {
    color: white;
    position: absolute;
    top: 370px;
    padding-left: 900px;
    font-weight: 400px;
    font-family: 'Open Sans', sans-serif;
}

.new-button {
    position: absolute;
    top: 420px;
    left: 900px;
    border-radius: 24px;
    color: hsl(257, 40%, 49%);
    width: 180px;
    height: 50px;
}

.facebook-image {
    width: 40px;
}

.twitter-image {
    width: 40px;
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    padding-left: 1263px;
    padding-bottom: -25px;
    position: relative;
    top: -130px;
}